<!DOCTYPE html>
<html lang="en">
{% load static %}
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OPEC - Online Platform for Examination Centre</title>
    
    <!-- Boxicon -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <!-- Custom CSS file -->
    <link rel="stylesheet" href="{% static 'css/index.css' %}" >
    <link rel="stylesheet" href="{% static 'css/interface.css' %}" >

  </head>
  <body>
  {%include 'studentheader.html'%}
    <section class="interface">
      <div class="leftdiv">
        <div class="options">
          <ul>
            <li><a href="#">Personal Information</a></li>
            <li><a href="#">Check Results</a></li>
            <li><a href="#">Give Exam</a></li>
            <li class="last"><a href="#" class="btn2 btn3">Logout</a></li>
          </ul>
        </div>
      </div>
      <div class="rightdiv">
        <div class="topdiv">
          <h1>Student's detail</h1>
          <h3>View Profile</h3>
        </div>
        <div class="container">
          <form method="POST">{% csrf_token %}
            {{form.as_p}}
          
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
    </section>

    {%include 'footer.html'%}

    <script src="{% static 'JS/index.js' %}"></script>
  </body>
</html>