<!DOCTYPE html>
<html lang="en">
{% load static %}
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OPEC - Online Platform for Examination Centre</title>
    
    <!-- Boxicon -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <!-- Custom CSS file -->
    <link rel="stylesheet" href="{% static 'css/index.css' %}" >
    <link rel="stylesheet" href="{% static 'css/interface.css' %}" >

  </head>
  <body>
  {%include 'studentheader.html'%}
    <section class="interface">
      <div class="leftdiv">
        <div class="options">
          <ul>
            <li><a href="#">Personal Information</a></li>
            <li><a href="#">Check Results</a></li>
            <li><a href="#">Give Exam</a></li>
            <li class="last"><a href="#" class="btn2 btn3">Logout</a></li>
          </ul>
        </div>
      </div>
      <div class="rightdiv">
        <div class="topdiv">
          <h1>Student's detail</h1>
          <h3>View Profile</h3>
        </div>
        <div class="container">
          <div class="imgdiv">
            <img src="{% static 'images/profilePic.jpg' %}" alt="Profile picture">
            <div class="details">
              <h1>Zayd Ahmed</h1>
              <h5>(Student id: #St000378)</h5>
            </div>
          </div>
          <div class="info">
            <div class="set">
              <p class="heading">Gender:</p>
              <p class="value">Male</p>
            </div>
            <div class="set">
              <p class="heading">Date of Birth:</p>
              <p class="value">22 Nov, 2002</p>
            </div>
            <div class="set">
              <p class="heading">Age:</p>
              <p class="value">23</p>
            </div>
            <div class="set">
              <p class="heading">Father's Name:</p>
              <p class="value">Imran Ahmed</p>
            </div>
            <div class="set">
              <p class="heading">Phone Number:</p>
              <p class="value">9835164870</p>
            </div>
            <div class="set">
              <p class="heading">Blood Group:</p>
              <p class="value">A+</p>
            </div>
            <div class="set">
              <p class="heading">Address:</p>
              <p class="value">4, Amrita Shergill Road <br>New Delhi <br>110003 <br>India</p>
            </div>
          </div>
          <div class="button">
            <a href="#" class="btn2">Update Info</a>
          </div>
          
        </div>
      </div>
    </section>

    {%include 'footer.html'%}

    <script src="{% static 'JS/index.js' %}"></script>
  </body>
</html>