<div class="leftdiv">
    <div class="options">
      <ul>
        <li><a href="{% url 'teacher:interface' %}">Personal Information</a></li>
<!--<li><a href="{% url 'teacher:result' %}">Check Results</a></li>-->
        
        <li><a href="{% url 'teacher:create_question' %}">Set Questions</a></li>
        <li><a href="{% url 'teacher:create_question_paper' %}">Set Question Paper</a></li>
        <li><a href="{% url 'teacher:set_exam' %}">Set Exam</a></li>
        <li class="last"><a href="{% url 'main:Logout' %}" class="btn2 btn3">Logout</a></li>
      </ul>
    </div>
  </div>